.box{
    width: 20%;
    border: 2px solid;
    height: 40vh;
    padding: 20px;
    border-radius: 10px;
    /* transition-property: all; */
    /* transition-delay: 20s; */
    /* transition-duration: 2s; */
    /* transition-timing-function: ease-in; */
}
h1{
    /* text-align: center; */
    margin-left: 40px;
}
button{
    margin-top: 20px;
  
}
input{
    margin-top: 20px;
    margin-left: 50px;
}
.child2{
    margin-left: 50px;
    margin-top: 20px;
    
}
.para{
    margin-left: 50px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: underline;

}